# Database
DATABASE_URL="postgresql://user:password@host:port/database"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key"

# Registration Control
ADMIN_INVITE_CODE="define-your-secret-code-here"
INSTRUCTOR_INVITE_CODE="define-another-code-for-instructors"
REGISTRATION_OPEN="false" # Set to "true" to allow public instructor registration
